<style>
    select,
    textarea,
    input {
        font-size: 1rem !important;
        color: #6e707e !important;
    }
    
    .cancelButton {
        margin-left: 6%;
    }
    
    input[type=number]::-webkit-inner-spin-button,
    input[type=number]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    .number-input {
        display: inline !important;
        width: 2em;
        margin-left: 2em;
    }
    label{
      margin: initial;  
    }
    .form-control {
        background-color: #f3f2f2 !important;
        border: 0px solid #d1d3e2 !important;
    }
</style>
<div class="container-fluid create-task">
    <div class="card shadow mb-4 list">
        <div class="card-body input-border">
            <div class="row">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-8">
                            <div class="breadcrumb">
                                <div class="col-md-1">
                                    <i class="far fa-plus-square" (click)="showText()"></i>
                                </div>
                                <div class="col-md-11">
                                    <select (ngModel)="mcat" (input)="mcat=$event.target.value" class="form-control custom-select" name="t" placeholder="Assigned to " *ngIf="categories">
                                        <option value="">Please choose category</option>
                                        <option *ngFor="let cat of categories" value="{{cat.id}}">{{cat.name}}</option>
                                    </select>
                                </div>

                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="out">
                                <div class="check-box">
                                    <input type="checkbox" id="chek11" [(ngModel)]="notify" (change)="notifychange($event)">
                                    <label for="chek11"><span>Notify</span></label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row" *ngIf="mcat&&titles">
                        <div class="col-md-8">
                            <div class="breadcrumb">
                                <div class="col-md-1">
                                    <i class="far fa-plus-square" (click)="showTitle()"></i>
                                </div>
                                <div class="col-md-11">
                                    <select (ngModel)="mtitle" (input)="mtitle=$event.target.value" class="form-control custom-select" name="t" placeholder="Assigned to ">
                                        <option value="">Please choose title</option>
                                        <option *ngFor="let title of titles|catFilter:mcat" value="{{title.name}}">
                                            {{title.name}}</option>
                                    </select>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <textarea id="message" name="phone" class="form-control textarea-sty-css" placeholder="Write details about the task..." (ngModel)="mdescription" (input)="mdescription=$event.target.value"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-6">
                    <div class="form-group">
                        <div class="row row-mat-top">
                            <div class="col-md-4">
                                <label class="form-label">Assign to</label>
                            </div>
                            <div class="col-md-8">
                                <select (ngModel)="massignee" (input)="massignee=$event.target.value" class="form-control custom-select" name="t" placeholder="Assigned to " *ngIf="assignee">
                                    <option value="">Please choose assignee</option>
                                    <option *ngFor="let assigne of assignee" value="{{assigne.id}}">{{assigne.name}}
                                    </option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row row-mat-top">
                            <div class="col-md-4">
                                <label class="form-label">Priority</label>
                            </div>
                            <div class="col-md-8">
                                <select (ngModel)="mpriority" (input)="mpriority=$event.target.value" class="form-control" name="t" placeholder="Priority" *ngIf="priority">
                                    <option value="">Please choose priority</option>
                                    <option *ngFor="let pri of priority" value="{{pri.id}}">{{pri.name}}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row row-mat-top">
                            <div class="col-md-4">
                                <label class="form-label">Due date</label>
                            </div>
                            <div class="col-md-8">
                                <input type="text" class="form-control" [ngModel]="mduedate" #datePicker (input)="mduedate=$event.target.value" bsDatepicker (ngModelChange)="mduedate = datePicker.value" readonly>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="col-md-6 col-lg-6">

                    <div class="form-group">
                        <div class="row row-mat-top">
                            <div class="col-md-4">
                                <label class="form-label">Status</label>
                            </div>
                            <div class="col-md-8">
                                <select (ngModel)="mstatus" (input)="mstatus=$event.target.value" class="form-control" name="t" placeholder="Status" *ngIf="status">
                                    <option value="">Please choose status</option>
                                    <option *ngFor="let st of status" value="{{st.id}}">{{st.name}}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row row-mat-top">
                            <div class="col-md-4">
                                <label class="form-label">Reminder date</label>
                            </div>
                            <div class="col-md-8">
                                <input type="text" class="form-control" [ngModel]="mreminderdate" #datePicker3 (input)="mreminderdate=$event.target.value" bsDatepicker (ngModelChange)="mreminderdate = datePicker3.value" readonly>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row row-mat-top">
                            <div class="col-md-4">
                                <label class="form-label">Recurring</label>
                            </div>
                            <div class="col-md-8">
                                <select [(ngModel)]="mtype" (input)="mtype=$event.target.value" (change)="changeOnMtype()" class="form-control" name="t" placeholder="Type" *ngIf="type">
                                    <option [value]="undefined" selected disabled>Please choose type</option>
                                    <option *ngFor="let ty of type" value="{{ty.id}}">{{ty.name}}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- <div *ngIf="mtype==1" class="col-md-12 col-lg-12">
                    for  Everry Day start
                    <div class="form-group ">
                        <div class="row row-mat-top d-flex align-items-center px-2">
                            <input type="radio" [(ngModel)]="recurringDay" name="recurringDay" id="every" value="every" checked>
                            <label class="form-label px-2" for="every" >
                                    Every
                                </label>
                            <input type="number" id="days" [(ngModel)]="recurringDayDay" class="form-control number-input" [disabled]="recurringDay!='every'" min="1" max="31" maxlength="2" value="1">
                            <label class="form-label px-2" for="days"> days</label>
                        </div>
                    </div>
                    <div class="row row-mat-top d-flex align-items-center px-2">
                                <input  type="radio" [(ngModel)]="recurringDay" name="recurringDay" id="everyWeekday" value="everyWeekday">
                                <label class="form-label px-2" for="everyWeekday">
                                    Every weekday
                                </label>
                    </div>
                     
                </div> -->
                <!-- for everyday end -->
                <!-- for every week start -->
                <div *ngIf="mtype==4" class="col-md-12 col-lg-12">
                    <div class="form-group">
                        <div  class="row row-mat-top d-flex align-items-center px-2">
                            <label class="form-label ">Every Week on:</label>
                        </div>
                    </div>
                    <div class="row row-mat-top d-flex align-items-center px-2">
                        <div class="form-check-inline" *ngFor="let day of days">
                            <input class="form-check-input" [(ngModel)]="weekDay" name="week_day" type="radio" [value]="day.value" >
                            <label class="form-label px-2">
                                {{day.name}}
                            </label>
                        </div>                        
                    </div>
                </div>
                <!-- for every week end -->
                <!-- for yearly start -->
                <div *ngIf="mtype==6" class="col-md-12 col-lg-12">
                    <!-- <div class="form-group">
                        <div class="row row-mat-top d-flex align-items-center px-2">
                            <label class="form-label px-2">Recur Every</label>
                            <input class="form-control number-input px-2" [(ngModel)]="year" type="number" name="recurringWeek" id="every" value="every" checked>
                            <label class="form-label px-2" for="every">
                                year(s)
                            </label>
                        </div>
                    </div> -->
                    <!-- on row start -->
                    <div class="form-group">
                        <div class="row row-mat-top d-flex align-items-center px-2">
                            <input type="radio" [(ngModel)]="recurringYear" name="recurringYear" id="every" value="0" checked style="display: none">
                            <label class="form-label px-2" for="every">
                               Recur on day
                            </label>
                            <input class="form-control number-input px-2 " [(ngModel)]="recurringYearDate" type="number" name="date" id="date" value="1" maxlength="2" >
                            <label class="form-label px-2" for="every">
                                of month
                             </label>
                            <select [(ngModel)]="recurringYearmonth1" (input)="recurringYearmonth1=$event.target.value" class="form-control col-md-4" name="month"
                                placeholder="Type" *ngIf="type">
                                <option [value]="undefined" selected disabled>select month</option>
                                <option value="1">January</option>
                                <option value="2">February</option>
                                <option value="3">March</option>
                                <option value="4">April</option>
                                <option value="5">May</option>
                                <option value="6">June</option>
                                <option value="7">July</option>
                                <option value="8">August</option>
                                <option value="9">September</option>
                                <option value="10">October</option>
                                <option value="11">November</option>
                                <option value="12">December</option>
                            </select>
                        </div>
                    </div>
                    <!-- on row end -->
                    <!-- on the row start -->
                    <!-- <div class="row row-mat-top d-flex align-items-center px-2"> 
                        <input type="radio" [(ngModel)]="recurringYear" name="recurringYear" id="every" value="1" >
                        <label class="form-label px-2" for="every">
                            On the:
                        </label>
                        <div class="col-md-3">
                            <select [(ngModel)]="recurringYearWeekNo" (input)="recurringYearWeekNo=$event.target.value" class="form-control" name="month" placeholder="Type">
                                <option [value]="undefined" selected disabled>Select week</option>
                                <option value="1">First</option>
                                <option value="2">Second</option>
                                <option value="3">Third</option>
                                <option value="4">Fourth</option>
                            </select>
                        </div>
                        <div class="col-md-3">
                            <select [(ngModel)]="recurringYearDay" (input)="recurringYearDay=$event.target.value" class="form-control custom-select" name="day" placeholder="abc">
                                <option [value]="undefined" selected disabled>Select day</option>
                                <option value="1">Monday</option>
                                <option value="2">Tuesday</option>
                                <option value="3">Wensday</option>
                                <option value="4">Thursday</option>
                                <option value="5">Friday</option>
                                <option value="6">Saturday</option>
                                <option value="7">Sunday</option>
                            </select>
                        </div>
                        <div class="col-md-3">
                            <select [(ngModel)]="recurringYearMonth" (input)="recurringYearMonth=$event.target.value" class="form-control custom-select" name="month" placeholder="month">
                                <option [value]="undefined" selected disabled>Select month</option>
                                <option value="1">January</option>
                                <option value="2">February</option>
                                <option value="3">March</option>
                                <option value="4">April</option>
                                <option value="5">May</option>
                                <option value="6">June</option>
                                <option value="7">July</option>
                                <option value="8">August</option>
                                <option value="9">September</option>
                                <option value="10">October</option>
                                <option value="11">November</option>
                                <option value="12">December</option>
                            </select>
                        </div>
                    </div> -->
                </div>
                <!-- for yearly end -->
                <!-- for monthly start -->
                <div *ngIf="mtype==5" class="col-md-12 col-lg-12">
                    <div class="form-group">
                        <div class="row row-mat-top d-flex align-items-center px-2" >
                            <input type="radio" [(ngModel)]="recurringMonth" id="radiomonth" name="radioMonth" value="0" checked style="display: none">
                            <label for="radioday" class="form-label ml-2" name="every">Recurring day of the month: </label>
                            <input type="number" [(ngModel)]="recurringMonthDay" maxlength="2" class="form-control number-input ml-2" [disabled]="recurringMonth=='1'" value="1">
                            <!-- <label class="form-label ml-2">Of Every</label>
                            <input type="number" value="1" [(ngModel)]="recurringMonthMonth" class="form-control number-input" [disabled]="recurringMonth=='1'">
                            <label class="form-label px-2">Month(s)</label> -->
                        </div>
                    </div>
                    <!-- <div class="form-group">
                        <div class="row row-mat-top d-flex align-items-center px-2">
                            <input type="radio" [(ngModel)]="recurringMonth" name="radioMonth" id="radioWeek" value="1">
                            <label class="form-label px-2" for="every">
                                On the:
                            </label>
                            <select [(ngModel)]="weekNo" [disabled]="recurringMonth=='0'" (input)="weekNo=$event.target.value" class="form-control col-md-3 ml-2" name="month"
                                placeholder="Type">
                                <option [value]="undefined" selected disabled>Select week</option>
                                <option value="1">First</option>
                                <option value="2">Second</option>
                                <option value="3">Third</option>
                                <option value="4">Fourth</option>
                            </select>
                            <select [(ngModel)]="selectedDay" [disabled]="recurringMonth=='0'" (input)="selectedDay=$event.target.value" class="form-control col-md-3 ml-2" name="day" placeholder="abc">
                                <option [value]="undefined" selected disabled>Select day</option>
                                <option *ngFor="let day of days" value="day.value">{{day.name}}</option>
                                
                            </select>
                            <label class="form-label px-2">of every </label>
                            <input type="number" [(ngModel)]="recurringMonthMonth2"class="form-control number-input" [disabled]="recurringMonth=='0'" value="1">
                            <label class="form-label px-2">month(s)</label>
                        </div>
                    </div> -->
                </div>
            </div>
            <div class="col-md-12 button-my-sty">
                <button type="button" class="btn btn-success cursorPointer" (click)="save()">SAVE &amp;
                    CLOSE</button>
                <button type="button" class="btn btn-danger cancelButton" (click)="cancel()">CANCEL</button>
            </div>
        </div>
    </div>
</div>
<div id="snackbar">{{alertMessage}}</div>

<div *ngIf="showTextbox">
    <div class="overlay-bg"></div>
    <div class="createPopup">
        <createcategory-root (saveclose)="getTitles()" (closePopup)='setshowCreateTask($event)'>
        </createcategory-root>
    </div>
</div>


<div *ngIf="showTitlebox">
    <div class="overlay-bg"></div>
    <div class="createPopup">
        <createtitle-root (saveclose)="getTitles()" (closePopup)='setshowCreateTitle($event)'></createtitle-root>
    </div>
</div>