<style>
    select, textarea, input{
        font-size: 1rem !important;
        color: #6e707e !important;
    }
    .cancelButton{
        margin-left: 6%;
    }
    .form-control{
        background-color: #f3f2f2 !important;
        border: 0px solid #d1d3e2!important;
    }
</style>
 <div class="container-fluid create-task">
    <div class="card shadow mb-4 list">
       <div class="card-body input-border">
          <div class="row">
             <div class="col-md-12">
                <div class="row">
                   <div class="col-md-8">
                      <div class="breadcrumb">                         
                        <div class="col-md-1">
                            <i class="far fa-plus-square" (click)="showText()"></i>
                        </div>
                         <div class="col-md-11">
                            <select (ngModel)="mcat" (input)="mcat=$event.target.value" class="form-control custom-select" name="t" placeholder="Assigned to " *ngIf="categories">
                                <option value="">Please choose category</option>
                                <option *ngFor="let cat of categories" value="{{cat.id}}">{{cat.name}}</option>
                            </select>
                         </div>
                         
                      </div>
                   </div>
                   <div class="col-md-4">
                      <div class="out">
                         <div class="check-box">
                            <input type="checkbox" id="chek11" [(ngModel)]="notify" (change)="notifychange($event)" >
                            <label for="chek11"><span>Notify</span></label>
                         </div>
                      </div>
                   </div>
                </div>
                <div class="row" *ngIf="mcat&&titles">
                    <div class="col-md-8">
                       <div class="breadcrumb">   
                        <div class="col-md-1">
                            <i class="far fa-plus-square" (click)="showTitle()"></i>
                        </div>                       
                          <div class="col-md-11">
                             <select (ngModel)="mtitle" (input)="mtitle=$event.target.value" class="form-control custom-select" name="t" placeholder="Assigned to " >
                                 <option value="">Please choose title</option>
                                 <option *ngFor="let title of titles|catFilter:mcat" value="{{title.name}}">{{title.name}}</option>
                             </select>
                          </div>
                          
                       </div>
                    </div>
                 </div>
             </div>
             <div class="col-md-12">
                <div class="row">
                   <div class="col-md-12">
                      <div class="form-group">
                         <textarea id="message" name="phone" class="form-control textarea-sty-css" placeholder="Write details about the task..." (ngModel)="mdescription" (input)="mdescription=$event.target.value"></textarea>
                      </div>
                   </div>
                </div>
             </div>
             <div class="col-md-6 col-lg-6">
                <div class="form-group">
                   <div class="row row-mat-top">
                      <div class="col-md-4">
                         <label class="form-label">Assign to</label>
                      </div>
                      <div class="col-md-8">
                         <select (ngModel)="massignee" (input)="massignee=$event.target.value" class="form-control custom-select" name="t" placeholder="Assigned to " *ngIf="assignee">
                         <option value="">Please choose assignee</option>
                         <option *ngFor="let assigne of assignee" value="{{assigne.id}}">{{assigne.name}}</option>
                         </select>
                      </div>
                   </div>
                </div>
                <div class="form-group">
                   <div class="row row-mat-top">
                      <div class="col-md-4">
                         <label class="form-label">Priority</label>
                      </div>
                      <div class="col-md-8">
                         <select (ngModel)="mpriority" (input)="mpriority=$event.target.value" class="form-control" name="t" placeholder="Priority" *ngIf="priority">
                         <option value="">Please choose priority</option>
                         <option *ngFor="let pri of priority" value="{{pri.id}}">{{pri.name}}</option>
                         </select>
                      </div>
                   </div>
                </div>
                <div class="form-group">
                   <div class="row row-mat-top">
                      <div class="col-md-4">
                         <label class="form-label">Due date</label>
                      </div>
                      <div class="col-md-8">
                         <input type="text" class="form-control" [ngModel]="mduedate" #datePicker (input)="mduedate=$event.target.value" bsDatepicker (ngModelChange)="mduedate = datePicker.value" readonly>
                      </div>
                   </div>
                </div>
                <div class="form-group">
                     <div class="row row-mat-top">
                        <div class="col-md-4">
                           <label class="form-label">Recurring</label>
                        </div>
                        <div class="col-md-8">
                           <select (ngModel)="mtype" (input)="mtype=$event.target.value" class="form-control" name="t" placeholder="Type" *ngIf="type">
                           <option value="">Please choose type</option>
                           <option *ngFor="let ty of type" value="{{ty.id}}">{{ty.name}}</option>
                           </select>
                        </div>
                     </div>
                  </div>
             </div>
             <div class="col-md-6 col-lg-6">
                
                <div class="form-group">
                   <div class="row row-mat-top">
                      <div class="col-md-4">
                         <label class="form-label">Status</label>
                      </div>
                      <div class="col-md-8">
                         <select (ngModel)="mstatus" (input)="mstatus=$event.target.value" class="form-control" name="t" placeholder="Status" *ngIf="status">
                         <option value="">Please choose status</option>
                         <option *ngFor="let st of status" value="{{st.id}}">{{st.name}}</option>
                         </select>
                      </div>
                   </div>
                </div>
                <div class="form-group">
                   <div class="row row-mat-top">
                      <div class="col-md-4">
                         <label class="form-label">Reminder date</label>
                      </div>
                      <div class="col-md-8">
                         <input type="text" class="form-control" [ngModel]="mreminderdate" #datePicker3 (input)="mreminderdate=$event.target.value" bsDatepicker (ngModelChange)="mreminderdate = datePicker3.value" readonly>
                      </div>
                   </div>
                </div>
             </div>
             <div class="col-md-12 button-my-sty">
                <button type="button" class="btn btn-success cursorPointer" (click)="save()">SAVE &amp;  CLOSE</button>
                <button type="button" class="btn btn-danger cancelButton" (click)="cancel()">CANCEL</button>
             </div>
          </div>
       </div>
    </div>
 </div>
 <div id="snackbar">{{alertMessage}}</div>

 <div *ngIf="showTextbox">
    <div class="overlay-bg"></div>
    <div class="createPopup">
        <createcategory-root (saveclose)="getTitles()" (closePopup)='setshowCreateTask($event)' ></createcategory-root>
    </div>
 </div>


 <div *ngIf="showTitlebox">
<div class="overlay-bg"></div>
<div class="createPopup">
    <createtitle-root (saveclose)="getTitles()" (closePopup)='setshowCreateTitle($event)' ></createtitle-root>
</div>
</div>