<style>
    select, textarea, input{
        font-size: 1rem !important;
        color: #6e707e !important;
    }
    .cancelButton{
        margin-left: 6%;
    }
    .form-control{
        background-color: #f3f2f2 !important;
        border: 0px solid #d1d3e2!important;
    }
</style>
 <div class="container-fluid create-task">
    <div class="card shadow mb-4 list">
       <div class="card-body input-border">
          <div class="row">
             <div class="col-md-12">
                    <h2>Create category</h2>
                <div class="row">                    
                   <div class="col-md-8">
                      <div class="breadcrumb">
                         <div class="col-md-12">
                            <input type="text" (ngModel)="title" (input)="title=$event.target.value"  class="form-control" name="t" placeholder="Enter the category name here...">
                         </div>
                      </div>
                   </div>
                </div>
             </div>
             <div class="col-md-12 button-my-sty">
                <button type="button" class="btn btn-success cursorPointer" (click)="save()">SAVE &amp;  CLOSE</button>
                <button type="button" class="btn btn-danger cancelButton" (click)="cancel()">CANCEL</button>
             </div>
          </div>
       </div>
    </div>
 </div>
 <div id="snackbar">{{alertMessage}}</div>