<style>
select, textarea, input{
    font-size: 1rem !important;
    color: #6e707e !important;
}
.cancelButton{
    margin-left: 6%;
}
</style>
<div class="row_new">
<div  class="countBar">
    <a class="btn btn-secondary btn-icon-split" [ngStyle]="assignColor(count.color)" *ngFor="let count of taskCount">
    <span class="text">{{count.name}}</span>
    <span class="icon text-white-50">
    <i class="fas">{{count.taskCount}}</i>
    </span>
    </a>
</div>

<div class="priorityFilter">
    <select (ngModel)="mpriority" (input)="mpriority=$event.target.value" (change)="filterEvents($event)" class="form-control" name="t" placeholder="Priority" *ngIf="priority" [value]='0'>
    <option value="0">Filter by Priority</option>
    <option *ngFor="let pri of priority" value="{{pri.id}}">{{pri.name}}</option>
    </select>
</div>
</div>

<div *ngIf="showCreateTask" >
    <div class="overlay-bg"></div>
    <div class="createPopup">
        <createtask-root (closePopup)='setshowCreateTask($event)' ></createtask-root>
    </div>
</div>

<daypilot-scheduler [config]="config" [events]="events" #scheduler></daypilot-scheduler>

 <div *ngIf="editTask" >
    <div class="overlay-bg"></div>
    <div class="createPopup">
    <div class="container-fluid create-task">
                        <div class="card shadow mb-4 list">
                            <div class="card-header py-3">
                                <div class="row">
                                    <div class="col-md-8">
                                        <h6 class="m-0 font-weight-bold text-primary"><i class="fas fa-layer-group"></i> Edit task</h6>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body input-border">
                                <div class="row">
                                    <div class="col-md-12 col-lg-12">     
                                    <div class="form-group">
                                        <div class="row row-mat-top">
                                            <div class="col-md-12">
                                            <!-- <input type="text" (ngModel)="etitle" (input)="etitle=$event.target.value"  class="form-control" name="t" placeholder="Enter the title here..." [value]="etitle" [readonly]="role!='admin'"> -->
                                            <select (ngModel)="mcat" (input)="mcat=$event.target.value" class="form-control custom-select" name="t" placeholder="Assigned to " *ngIf="categories" [value]="mcat" [disabled]="role!='admin'">
                                                <option value="">Please choose category</option>
                                                <option *ngFor="let cat of categories" value="{{cat.id}}">{{cat.name}}</option>
                                            </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="row row-mat-top">
                                            <div class="col-md-12">
                                                <select [(ngModel)]="etitle" (input)="etitle=$event.target.value" class="form-control custom-select" name="t" placeholder="Assigned to " [disabled]="role!='admin'">
                                                    <option value="">Please choose title</option>
                                                    <option *ngFor="let title of titles|catFilter:mcat" value="{{title.name}}">{{title.name}}</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="row row-mat-top">
                                            <div class="col-md-12">
                                            <textarea (ngModel)="edescription" (input)="edescription=$event.target.value" class="form-control" name="t" placeholder="Write details about the task..." [value]="edescription" [readonly]="role!='admin'"></textarea>
                                            </div>
                                        </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-lg-6">     
                                        <div class="form-group">
                                            <div class="row row-mat-top">
                                                <div class="col-md-4">
                                                    <label class="form-label">Assign to</label>
                                                </div>
                                                <div class="col-md-8">
                                                    <select [(ngModel)]="eassignee" (input)="eassignee=$event.target.value" class="form-control custom-select" name="t" placeholder="Assigned to" *ngIf="assignee" [disabled]="role!='admin'">
                                                        <option *ngFor="let assig of assignee" value="{{assig.id}}" >{{assig.name}}</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="row row-mat-top">
                                                <div class="col-md-4">
                                                    <label class="form-label">Priority</label>
                                                </div>
                                                <div class="col-md-8">
                                                    <select [(ngModel)]="epriority" (input)="epriority=$event.target.value"   class="form-control" name="t" placeholder="Priority" *ngIf="priority"  [disabled]="role!='admin'">
                                                        <option *ngFor="let pri of priority" value="{{pri.id}}">{{pri.name}}</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="row row-mat-top">
                                                <div class="col-md-4">
                                                    <label class="form-label">Due date</label>
                                                </div>
                                                <div class="col-md-8">
                                                    <input type="text" class="form-control" [ngModel]="eduedate" #datePicker4 (input)="eduedate=$event.target.value" bsDatepicker (ngModelChange)="eduedate = datePicker4.value" [value]="eduedate| date:'yyyy-MM-dd'" readonly>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="row row-mat-top">
                                                <div class="col-md-4">
                                                    <label class="form-label">Recurring</label>
                                                </div>
                                                <div class="col-md-8">
                                                    <select [(ngModel)]="etype" (input)="etype=$event.target.value" class="form-control" name="t" placeholder="Type" *ngIf="type"  [disabled]="role!='admin'">
                                                        <option *ngFor="let ty of type" value="{{ty.id}}">{{ty.name}}</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-lg-6">     
                                            
                                            <div class="form-group">
                                                <div class="row row-mat-top">
                                                    <div class="col-md-4">
                                                        <label class="form-label">Status</label>
                                                    </div>
                                                    <div class="col-md-8">
                                                        <select [(ngModel)]="estatus" (input)="estatus=$event.target.value" class="form-control" name="t" placeholder="Status" *ngIf="status">
                                                            <option *ngFor="let st of status" value="{{st.id}}" >{{st.name}}</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="row row-mat-top">
                                                    <div class="col-md-4">
                                                        <label class="form-label">Reminder date</label>
                                                    </div>
                                                    <div class="col-md-8">
                                                        <input type="text" class="form-control" [ngModel]="ereminderdate" #datePicker6 (input)="ereminderdate=$event.target.value" bsDatepicker (ngModelChange)="ereminderdate = datePicker6.value" [value]="ereminderdate| date:'yyyy-MM-dd'" readonly>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    <div class="col-md-6 col-lg-6">
                                        <div class="text-left">
                                        <button type="submit" class="btn btn-success" (click)="save()">SAVE &amp;  CLOSE</button>
                                        <button type="submit" class="btn btn-danger cancelButton"  (click)="cancel()">CANCEL</button>
                                        </div>                                  
                                    </div> 
                                </div>
                            </div>
                        </div>
                    </div>   
                    </div>
                    </div>
                    
  <div id="snackbar">{{alertMessage}}</div> 



  <div *ngIf="showTextbox">
        <div class="overlay-bg"></div>
        <div class="createPopup">
            <createcategory-root (saveclose)="getTitles()" (closePopup)='setshowCreateTask($event)' ></createcategory-root>
        </div>
     </div>
    
    
     <div *ngIf="showTitlebox">
    <div class="overlay-bg"></div>
    <div class="createPopup">
        <createtitle-root (saveclose)="getTitles()" (closePopup)='setshowCreateTitle($event)' ></createtitle-root>
    </div>
    </div>
    <script>
    $(function(){
        console.log($('.scheduler_default_tree_image_collapse').parent());
    });
    </script>
